.tasks-section {
  flex: 1;
  height: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  position: relative;

  .task-list {
    flex: 1;

    .task-list-item {
      display: flex;
      width: 100%;
      display: flex;
      padding: 4px 20px;
      border-radius: 5px;
      margin-top: 10px;

      align-items: center;

      &:not(.complete) {
        cursor: pointer;
        transition: box-shadow 0.2s ease, transform 0.2s ease;

        &:active {
          transform: scale(0.95);
        }

        &:hover {
          box-shadow: 0 0 0 5px #eeeeee;

          .task-buttons {
            opacity: 1;
            transform: scale(1);
          }
        }
      }

      &.completed .task-text {
        text-decoration: line-through;
        opacity: 0.8;
      }

      .task-text {
        display: flex;
        flex-grow: 1;
        &.is-completed {
          text-decoration: line-through;
        }
      }

      .task-buttons {
        transition: opacity 0.2s, transform 0.2s;
        opacity: 0;
        transform: scale(0.85);
      }
    }
  }
}
