<div class="tasks-section has-background-white">
  <h1 class="title has-text-primary">Tasks</h1>

  <div class="task-list">
    <div
      class="task-list-item has-background-grey-lighter"
      *ngFor="let task of tasks"
    >
      <p class="task-text">{{ task.description }}</p>
      <div class="task-buttons" *ngIf="!task.completed">
        <button class="button">
          <div class="icon">
            <i class="fa fa-edit"></i>
          </div>
        </button>

        <button class="button is-danger" style="margin-left: 10px">
          <div class="icon">
            <i class="fa fa-trash"></i>
          </div>
        </button>
      </div>
    </div>
  </div>

  <button class="button is-link has-text-dark" [routerLink]="['./new-task']">
    <i class="fa fa-plus"></i>
  </button>
</div>
